

.c_Form1
{
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#Form1_body
{
	height: 673px;
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	height: 673px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 934px;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_Div1
{
	background-color: #495A70;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 20px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #8EA3B9;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_labModuleTitle
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 700;
	font-weight: 700;
	margin-top: -12px;
	--mleft: 5px;
	position: absolute !important;
	left: 5px;
	top: 50%;
	width: 320px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button4
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 10px;
	position: absolute !important;
	top: 50%;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button4:not(:hover), .c_Button4.RadButton.rbButton.rbDisabled
{
	background-color: #B32D34;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_btnSalvar
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 50px;
	position: absolute !important;
	top: 50%;
	right: 50px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_btnSalvar:not(:hover), .c_btnSalvar.RadButton.rbButton.rbDisabled
{
	background-color: #179F4F;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
}

.c_Button1
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 160px;
	position: absolute !important;
	top: 50%;
	right: 160px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button1:not(:hover), .c_Button1.RadButton.rbButton.rbDisabled
{
	background-color: #B32D34;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
}

.c_labError
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	font-weight: 300;
	margin-left: 0px !important;
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 642px;
	right: 0px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FF0000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Div2
{
	background-color: Transparent;
	margin-left: -446px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute;
	left: 50%;
	top: 133px;
	width: 892px;
	height: 432px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #C5C5C5;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_txtItemProjeto
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtItemProjeto_wrapper
{
	position: absolute !important;
	left: 149px;
	top: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 120px !important;
}

.c_Label2
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 149px;
	top: 2px;
	width: 117px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox3_wrapper
{
	position: absolute !important;
	left: 9px;
	top: 76px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 862px !important;
}

.c_Label3
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 58px;
	width: 166px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtTerminoPrevisto
{
	position: absolute !important;
	left: 218px;
	top: 165px;
	width: 169px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label5
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 218px;
	top: 146px;
	width: 120px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_DatePicker3
{
	position: absolute !important;
	left: 218px;
	top: 215px;
	width: 169px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label6
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 218px;
	top: 199px;
	width: 125px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label7
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 250px;
	width: 166px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label8
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 421px;
	top: 250px;
	width: 166px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_ComboBox1
{
	position: absolute !important;
	left: 9px;
	top: 267px;
	width: 400px;
	width: 400px !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ComboBox2
{
	position: absolute !important;
	left: 421px;
	top: 267px;
	width: 455px;
	width: 455px !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_RadTextBox6
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 9px;
	top: 321px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 862px !important;
}

.c_Label9
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 304px;
	width: 98px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label12
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 407px;
	top: 2px;
	width: 144px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label13
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 575px;
	top: 2px;
	width: 115px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_cmbSiglaCoordenacao
{
	position: absolute !important;
	left: 407px;
	top: 20px;
	width: 156px;
	width: 156px !important;
	background-color: #DCEFDD;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ComboBox4
{
	position: absolute !important;
	left: 575px;
	top: 20px;
	width: 137px;
	width: 137px !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_RadTextBox8
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox8_wrapper
{
	position: absolute !important;
	left: 290px;
	top: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 97px !important;
}

.c_Label14
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 290px;
	top: 2px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_DatePicker5
{
	position: absolute !important;
	left: 9px;
	top: 215px;
	width: 190px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label15
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 199px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtInicioPrevisto
{
	position: absolute !important;
	left: 9px;
	top: 165px;
	width: 179px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label16
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 146px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox1
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 9px;
	top: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 117px !important;
}

.c_Label1
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 2px;
	width: 114px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox9
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox9_wrapper
{
	position: absolute !important;
	left: 417px;
	top: 165px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 58px !important;
}

.c_Label17
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 417px;
	top: 146px;
	width: 65px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox10
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox10_wrapper
{
	position: absolute !important;
	left: 417px;
	top: 215px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 60px !important;
}

.c_Label18
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 417px;
	top: 199px;
	width: 73px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_ComboBox5
{
	position: absolute !important;
	left: 719px;
	top: 20px;
	width: 149px;
	width: 149px !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label23
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 719px;
	top: 2px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox13
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox13_wrapper
{
	position: absolute !important;
	left: 498px;
	top: 165px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 176px !important;
}

.c_Label24
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 498px;
	top: 146px;
	width: 85px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Div3
{
	background-color: Transparent;
	--mleft: 25px;
	position: absolute;
	left: 25px;
	top: 568px;
	width: 397px;
	height: 69px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #C5C5C5;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_Label10
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 7px;
	width: 122px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadTextBox7
{
	background-color: #DCEFDD !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox7_wrapper
{
	position: absolute !important;
	left: 9px;
	top: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 172px !important;
}

.c_Label11
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 203px;
	top: 5px;
	width: 128px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_DatePicker4
{
	position: absolute !important;
	left: 203px;
	top: 23px;
	width: 170px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Div4
{
	background-color: Transparent;
	margin-left: -447px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute;
	left: 50%;
	top: 63px;
	width: 894px;
	height: 67px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #000000;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_Label21
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 10px;
	top: 4px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #7E3B3E;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label22
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 15px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 10px;
	top: 22px;
	width: 864px;
	height: 38px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #7E3B3E;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}
/*		Hover style		*/


.c_Button4:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_Button4:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_btnSalvar:hover
{
	background-color: #179F4F !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_btnSalvar:hover
{
	background-color: #179F4F !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_Button1:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_Button1:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}
