/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_Div1
{
	background-color: Transparent;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 20px;
	right: 0px;
	height: 35px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #000000;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_labModuleTitle
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 700;
	font-weight: 700;
	margin-top: -14px;
	--mleft: 5px;
	position: absolute !important;
	left: 5px;
	top: 50%;
	width: 252px;
	height: 28px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button3
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 40px;
	position: absolute !important;
	top: 50%;
	right: 40px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button3:not(:hover), .c_Button3.RadButton.rbButton.rbDisabled
{
	background-color: #179F4F;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_Button1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 10px;
	position: absolute !important;
	top: 50%;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button1:not(:hover), .c_Button1.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
	min-width: 25px;
}

.c_labError
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	font-weight: 300;
	margin-left: 0px !important;
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 556px;
	right: 0px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FF0000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_DivGrid
{
	background-color: Transparent;
	position: absolute;
	left: 28px;
	top: 81px;
	width: 728px;
	height: 455px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_Grid1
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	outline-style: none !important;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#Grid1 caption
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn2
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn4
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn5
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn6
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_WSCoordenacao
{
	position: absolute !important;
	left: 258px;
	top: 53px;
	width: 120px;
	height: 120px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.RadWindow
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/*		Hover style		*/


.c_Button3:hover
{
	background-color: #179F4F !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button3:hover
{
	background-color: #179F4F !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button1:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
	min-width: 25px;
}

.c_Button1:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}
