

.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	height: 678px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	width: 985px;
	height: 678px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	left: 0px;
	margin: 0 0 0 0;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_Div1
{
	background-color: #495A70;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 20px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #8EA3B9;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_labModuleTitle
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 700;
	font-weight: 700;
	margin-top: -14px;
	--mleft: 20px;
	position: absolute !important;
	left: 20px;
	top: 50%;
	width: 334px;
	height: 29px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_btnSalvar
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 50px;
	position: absolute !important;
	top: 50%;
	right: 50px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_btnSalvar:not(:hover), .c_btnSalvar.RadButton.rbButton.rbDisabled
{
	background-color: #54AE4D;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
}

.c_btnFechar
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 10px;
	position: absolute !important;
	top: 50%;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_btnFechar:not(:hover), .c_btnFechar.RadButton.rbButton.rbDisabled
{
	background-color: #B32D34;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_Button2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 689px;
	top: 8px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button2:not(:hover), .c_Button2.RadButton.rbButton.rbDisabled
{
	background-color: #28A745;
	border-color: #D1CECE;
	color: #FFFFFF !important;
}

.c_labError
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	font-weight: 300;
	margin-left: 0px !important;
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 365px;
	right: 0px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FF0000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Div2
{
	background-color: Transparent;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 73px;
	right: 0px;
	height: 166px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #000000;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_txtDiretriz
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtDiretriz_wrapper
{
	position: absolute !important;
	left: 9px;
	top: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 120px !important;
}

.c_Label1
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 9px;
	top: 8px;
	width: 120px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtAcao
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtAcao_wrapper
{
	position: absolute !important;
	left: 139px;
	top: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 116px !important;
}

.c_Label2
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 139px;
	top: 8px;
	width: 116px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtAtividade
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtAtividade_wrapper
{
	position: absolute !important;
	left: 275px;
	top: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 128px !important;
}

.c_Label3
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 275px;
	top: 8px;
	width: 126px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_dtExecutado
{
	position: absolute !important;
	left: 420px;
	top: 24px;
	width: 143px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label4
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 420px;
	top: 6px;
	width: 143px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_cmbLancamento
{
	position: absolute !important;
	left: 570px;
	top: 24px;
	width: 116px;
	width: 116px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_GComboBoxItem16
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem17
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem18
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_Label5
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 570px;
	top: 6px;
	width: 116px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtPercExecutado
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtPercExecutado_wrapper
{
	position: absolute !important;
	left: 706px;
	top: 24px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 100px !important;
}

.c_Label6
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 706px;
	top: 6px;
	width: 100px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_txtJustificativa
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtJustificativa_wrapper
{
	position: absolute !important;
	left: 10px;
	top: 78px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 801px !important;
}

.c_Label7
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 10px;
	top: 60px;
	width: 122px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Div3
{
	background-color: Transparent;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 245px;
	right: 0px;
	height: 84px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #000000;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_RadTextBox6
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 147px;
	top: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: 253px !important;
}

.c_Label8
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 147px;
	top: 7px;
	width: 138px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_DatePicker2
{
	position: absolute !important;
	left: 11px;
	top: 32px;
	width: 116px;
	height: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_Label9
{
	background-color: Transparent;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: 700;
	font-weight: 700;
	position: absolute !important;
	left: 11px;
	top: 7px;
	width: 116px;
	height: 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_WindowSettings1
{
	position: absolute !important;
	left: 599px;
	top: 12px;
	width: 120px;
	height: 39px;
}
/*		Hover style		*/


.c_btnSalvar:hover
{
	background-color: #54AE4D !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_btnSalvar:hover
{
	background-color: #54AE4D !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_btnFechar:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_btnFechar:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.c_Button2:hover
{
	background-color: #28A745 !important;
	border-color: #D1CECE !important;
	color: #FFFFFF !important;
}

.c_Button2:hover
{
	background-color: #28A745 !important;
	border-color: #D1CECE !important;
	color: #FFFFFF !important;
}
