/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_Div1
{
	background-color: #495A70;
	margin-left: 20px;
	margin-right: 20px;
	--mleft: 20px;
	--mright: 20px;
	position: absolute;
	left: 0px;
	top: 20px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #8EA3B9;
	border-style: Solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_labModuleTitle
{
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 700;
	font-weight: 700;
	margin-top: -17px;
	position: absolute !important;
	left: 10px;
	top: 50%;
	width: 382px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #F5F7F8;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_btnFechar
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	margin-top: -12px;
	--mright: 10px;
	position: absolute !important;
	top: 50%;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_btnFechar:not(:hover), .c_btnFechar.RadButton.rbButton.rbDisabled
{
	background-color: #B32D34;
	border-color: #FFFFFF;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_GRepeaterHeader1
{
	position: relative;
	background-color: #495A70;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0;
	height: 25px;
}

.c_Label2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 55px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label5
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 61px;
	top: 2px;
	width: 46px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label8
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 112px;
	top: 2px;
	width: 76px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label11
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 193px;
	top: 2px;
	width: 94px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label14
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 294px;
	top: 2px;
	width: 80px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label17
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 379px;
	top: 2px;
	width: 98px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label20
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 480px;
	top: 2px;
	width: 317px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label23
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 805px;
	top: 2px;
	width: 110px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_GRepeaterBody1
{
	position: relative;
	background-color: #8EA3B9;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	height: 25px;
}

.c_Label3
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 55px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label6
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 61px;
	top: 2px;
	width: 46px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label9
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 112px;
	top: 2px;
	width: 76px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label12
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 193px;
	top: 2px;
	width: 94px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label15
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 294px;
	top: 2px;
	width: 80px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 379px;
	top: 2px;
	width: 98px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label21
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 480px;
	top: 2px;
	width: 317px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label24
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 805px;
	top: 2px;
	width: 110px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_GRepeaterBodyAlt1
{
	position: relative;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	height: 25px;
}

.c_Label4
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 55px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label7
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 61px;
	top: 2px;
	width: 46px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label10
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 112px;
	top: 2px;
	width: 76px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label13
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 193px;
	top: 2px;
	width: 94px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label16
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 294px;
	top: 2px;
	width: 80px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label19
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 379px;
	top: 2px;
	width: 98px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

.c_Label22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 480px;
	top: 2px;
	width: 317px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label25
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 805px;
	top: 2px;
	width: 110px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Pager1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	position: absolute !important;
	left: 20px;
	top: 429px;
	width: 320px;
	height: 30px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	border-width: 1px;
}

.Pager1_SelectedButton
{
	font-family: 'Times New Roman';
	font-size: 12px;
	background-color: #8EA3B9 !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 1;
	color: Black !important;
}

.c_Div2
{
	background-color: #DAE2E8;
	position: absolute;
	left: 590px;
	top: 425px;
	width: 369px;
	height: 71px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
}

.c_Label26
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 10px;
	top: 11px;
	width: 100px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label27
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 11px;
	top: 35px;
	width: 100px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label28
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 112px;
	top: 35px;
	width: 100px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label29
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 218px;
	top: 35px;
	width: 100px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}
/*		Hover style		*/


.c_btnFechar:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
	min-width: 25px;
}

.c_btnFechar:hover
{
	background-color: #B32D34 !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}
