

.c_Form1
{
	margin-right: 0px;
	--mleft: 0px;
	--mright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#Form1_body
{
	background-color: #FFFFFF;
	height: 559px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	height: 559px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	left: 0px;
	margin: 0 auto 0 auto;
	min-height: 463px;
	min-width: 717px;
	position: relative;
	top: 0px;
}

.c_Div1
{
	background-color: #FFFFFF;
	margin-left: -287px;
	margin-top: -231px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 574px;
	height: 463px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #333333;
	border-style: Solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_Div3
{
	background-color: #006699;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 574px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #333333;
	border-style: Solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_labModuleTitle
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 18px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 6px;
	top: 4px;
	width: 544px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_AjaxPanel1
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	height: 100%;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_TabControl5
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_TabItem1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_TabPage1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	height: 100% !important;
	position: relative;
}

.c_txtActualPassword
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 290px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtActualPassword_wrapper
{
	position: absolute !important;
	left: 114px;
	top: 41px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 290px !important;
}

.c_txtNewPassword
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 290px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtNewPassword_wrapper
{
	position: absolute !important;
	left: 114px;
	top: 79px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 290px !important;
}

.c_txtNewPasswordConfirm
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 290px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtNewPasswordConfirm_wrapper
{
	position: absolute !important;
	left: 114px;
	top: 118px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 290px !important;
}

.c_Label1
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 27px;
	top: 41px;
	width: 88px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label2
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 27px;
	top: 79px;
	width: 87px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label3
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 27px;
	top: 118px;
	width: 87px;
	height: 35px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_tbSavePw
{
	position: absolute !important;
	left: 418px;
	top: 116px;
	background-color: #F0F0F0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	display: block;
}

#tbSavePw .rtbInner > ul > li > a
{
	background-position: center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 32px !important;
}

#tbSavePw .rtbWrap, .rtbOuter
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_butPWSave
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	width: 21px;
	height: 32px;
	background-image: url('../Images/AccessControlModule/Gravar_novo.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butPWSave:not(:hover), .c_butPWSave.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #545454 !important;
}

.c_TabItem2
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_TabPage2
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	height: 100% !important;
	position: relative;
}

.c_ListBox3
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 27px;
	top: 44px;
	background-color: #8EA3B9;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ListBox3.rlbItem
{
	background-color: #8EA3B9;
	color: #000000;
	font-family: Segoe UI;
	font-size: 12px;
}

.c_TextBox6
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 177px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox6_wrapper
{
	position: absolute !important;
	left: 27px;
	top: 235px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 177px !important;
}

.c_Label25
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 27px;
	top: 16px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label26
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 27px;
	top: 206px;
	width: 100px;
	height: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_CheckBox1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 231px;
	top: 235px;
	width: 100px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_CheckBox1.rbCheckBox .rbText
{
	color: #000000;
}

.c_ListBox4
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 231px;
	top: 44px;
	background-color: #8EA3B9;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ListBox4.rlbItem
{
	background-color: #8EA3B9;
	color: #000000;
	font-family: Segoe UI;
	font-size: 12px;
}

.c_Label28
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 231px;
	top: 16px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_CheckBox2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 438px;
	top: 44px;
	width: 101px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_CheckBox2.rbCheckBox .rbText
{
	color: #000000;
}

.c_CheckBox3
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 438px;
	top: 88px;
	width: 101px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_CheckBox3.rbCheckBox .rbText
{
	color: #000000;
}

.c_CheckBox4
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 438px;
	top: 132px;
	width: 101px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_CheckBox4.rbCheckBox .rbText
{
	color: #000000;
}

.c_CheckBox5
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 438px;
	top: 176px;
	width: 101px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_CheckBox5.rbCheckBox .rbText
{
	color: #000000;
}

.c_tbGroup
{
	position: absolute !important;
	left: 28px;
	top: 271px;
	background-color: #F0F0F0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	display: block;
}

#tbGroup .rtbInner > ul > li > a
{
	background-position: center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 32px !important;
}

#tbGroup .rtbWrap, .rtbOuter
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_butGroupCancel2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 18px;
	background-image: url('../Images/AccessControlModule/Cancelar.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butGroupCancel2:not(:hover), .c_butGroupCancel2.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_butGroupSave2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 18px;
	background-image: url('../Images/AccessControlModule/Gravar.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butGroupSave2:not(:hover), .c_butGroupSave2.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_butGroupNew2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 18px;
	background-image: url('../Images/AccessControlModule/Novo.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butGroupNew2:not(:hover), .c_butGroupNew2.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_butGroupRemove2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 18px;
	background-image: url('../Images/AccessControlModule/Lixo.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butGroupRemove2:not(:hover), .c_butGroupRemove2.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_TabItem3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_TabPage3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	height: 100% !important;
	position: relative;
}

.c_ListBox5
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 47px;
	top: 43px;
	background-color: #8EA3B9;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ListBox5.rlbItem
{
	background-color: #8EA3B9;
	color: #000000;
	font-family: Segoe UI;
	font-size: 12px;
}

.c_ListBox6
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 260px;
	top: 43px;
	background-color: #8EA3B9;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_ListBox6.rlbItem
{
	background-color: #8EA3B9;
	color: #000000;
	font-family: Segoe UI;
	font-size: 12px;
}

.c_TextBox7
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 182px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox7_wrapper
{
	position: absolute !important;
	left: 47px;
	top: 210px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 182px !important;
}

.c_TextBox8
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 180px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox8_wrapper
{
	position: absolute !important;
	left: 47px;
	top: 265px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 180px !important;
}

.c_TextBox9
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 182px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox9_wrapper
{
	position: absolute !important;
	left: 260px;
	top: 265px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 182px !important;
}

.c_TextBox10
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 395px;
	height: 40px;
	height: 40px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox10_wrapper
{
	position: absolute !important;
	left: 47px;
	top: 321px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 40px !important;
	width: 395px !important;
}

.c_TextBox11
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	font-weight: Lighter !important;
	width: 182px;
	height: 25px;
	height: 25px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_TextBox11_wrapper
{
	position: absolute !important;
	left: 260px;
	top: 210px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 25px !important;
	width: 182px !important;
}

.c_Label30
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 47px;
	top: 184px;
	width: 182px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label31
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 47px;
	top: 241px;
	width: 182px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label35
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 47px;
	top: 19px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label36
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 260px;
	top: 19px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label37
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 260px;
	top: 184px;
	width: 182px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label38
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 260px;
	top: 241px;
	width: 182px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label39
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 47px;
	top: 298px;
	width: 132px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_tbUser
{
	position: absolute !important;
	left: 356px;
	top: 11px;
	background-color: #F0F0F0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	display: block;
}

#tbUser .rtbInner > ul > li > a
{
	background-position: center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 32px !important;
}

#tbUser .rtbWrap, .rtbOuter
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_Button1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 32px;
	background-image: url('../Images/AccessControlModule/Novo.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button1:not(:hover), .c_Button1.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_Button3
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 32px;
	background-image: url('../Images/AccessControlModule/Gravar.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button3:not(:hover), .c_Button3.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_Button4
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 32px;
	background-image: url('../Images/AccessControlModule/Cancelar.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button4:not(:hover), .c_Button4.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_Button2
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 18px;
	height: 32px;
	background-image: url('../Images/AccessControlModule/Lixo.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 0px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button2:not(:hover), .c_Button2.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
}

.c_labError
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 12px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 19px;
	top: 430px;
	width: 455px;
	height: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FF0000;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button7
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	--mright: 10px;
	position: absolute !important;
	top: 2px;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_Button7:not(:hover), .c_Button7.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #000000 !important;
	min-width: 25px;
}
/*		Hover style		*/


.c_butPWSave:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butPWSave:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butGroupCancel2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupCancel2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupSave2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupSave2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupNew2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupNew2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupRemove2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_butGroupRemove2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button1:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button1:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button3:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button3:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button4:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button4:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button2:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}

.c_Button7:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
	min-width: 25px;
}

.c_Button7:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #000000 !important;
}
