

.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	height: 497px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	width: 801px;
	height: 497px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	left: 0px;
	margin: 0 0 0 0;
	min-height: 447px;
	position: relative;
	top: 0px;
}

.c_ajxMainAjaxPanel
{
	margin-left: -310px;
	margin-top: -223px;
	--mleft: 0px;
	--mright: 0px;
	position: absolute !important;
	left: 50%;
	top: 50%;
	width: 621px;
	height: 447px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #333333;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
}

.c_rdAnd
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 28px;
	top: 107px;
	width: 40px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: #545454;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_rdOr
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 112px;
	top: 107px;
	width: 50px;
	height: 25px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: #545454;
	cursor: inherit;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_txtExpression
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	width: 586px;
	height: 248px;
	height: 248px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtExpression_wrapper
{
	position: absolute !important;
	left: 17px;
	top: 145px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 248px !important;
	width: 586px !important;
}

.c_butExecuteFilter
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 399px;
	top: 409px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butExecuteFilter:not(:hover), .c_butExecuteFilter.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #545454 !important;
}

.c_butClearFilter
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 503px;
	top: 409px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butClearFilter:not(:hover), .c_butClearFilter.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #545454 !important;
}

.c_Div1
{
	background-color: Transparent;
	position: absolute;
	left: 17px;
	top: 21px;
	width: 586px;
	height: 68px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #CCCCCC;
	border-style: Solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 1px;
	cursor: inherit;
	display: block;
	overflow: inherit;
}

.c_cboField
{
	position: absolute !important;
	left: 10px;
	top: 34px;
	width: 205px;
	width: 205px !important;
	height: 22px;
	height: 22px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_cboOperator
{
	position: absolute !important;
	left: 237px;
	top: 34px;
	width: 110px;
	width: 110px !important;
	height: 22px;
	height: 22px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_txtValue
{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
	width: 203px;
	height: 22px;
	height: 22px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: text;
	outline-style: none !important;
}

.c_txtValue_wrapper
{
	position: absolute !important;
	left: 370px;
	top: 34px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 22px !important;
	width: 203px !important;
}

.c_Label1
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 10px;
	top: 8px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label2
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 237px;
	top: 8px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label3
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	font-weight: 800;
	position: absolute !important;
	left: 370px;
	top: 8px;
	width: 100px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #545454;
	cursor: inherit;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_FieldDate
{
	position: absolute !important;
	left: 372px;
	top: 33px;
	width: 201px;
	height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_butConcatenate
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: Bolder;
	position: absolute !important;
	left: 503px;
	top: 106px;
	width: 100px;
	height: 25px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-width: 1px !important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px !important;
	text-align: Center;
}

.c_butConcatenate:not(:hover), .c_butConcatenate.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #FFFFFF;
	color: #545454 !important;
}
/*		Hover style		*/


.c_butExecuteFilter:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butExecuteFilter:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butClearFilter:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butClearFilter:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butConcatenate:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}

.c_butConcatenate:hover
{
	background-color: Transparent !important;
	border-color: #FFFFFF !important;
	color: #545454 !important;
}
